body {
	font-family: 'Shadows Into Light', cursive;
	font-size: 20px;
	background-color: #e8e8e8; }

#header {
	font-size: 40px;
	font-weight: bold;
	margin-right: 50px;
	margin-left: 50px;
	text-align: center;
	text-shadow: 0px 0px 10px #fff, 0px 0px 10px #fff, 0px 0px 10px #fff;}

#questionBox {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 0px;
	padding-bottom: 0px;
	font-size: 20px;
	color: #fff;
	background-color: #336699;
	border-radius: 10px;
	box-shadow: inset 0px 0px 2px #000, 1px 1px 1px #000;
	text-shadow: 1px 1px 1px #000;
	cursor: pointer;
	-webkit-user-select: none;
	float: right; }
	

#outerMainFrame {
	border: 1px solid #999;
	margin-right: 50px;
	margin-left: 50px;
	padding: 10px;
	border-radius: 20px;
	box-shadow: 1px 1px 1px #000;
	background-color: #bebebe; }
	
#innerMainFrame {
	border: 1px solid #999;
	padding: 20px 20px 0px 20px;
	border-radius: 20px;
	background-color: #fff;
	box-shadow: inset 0px 0px 30px #c0c0c0; }

#rightMenu {
	text-align: left;
	float: right;
	width: 15%; }
	
.singlePost {
	margin-bottom: 20px;
	width: 80%;
	padding: 10px;
	border-radius: 20px; }
	
.singlePost h2, h3 {
	padding: 0px;
	margin: 0px; }
	
.footer {
	margin-left: 50px;
	margin-right: 50px;
	text-align: center; }